* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketch-area {
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 800px;
    height: 800px;
}

.row, .new-row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
}

.cell, .new-cell {
    border: 1px solid blueviolet;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    width: 150px;
    height: 50px;
}